@import "tailwindcss";

@keyframes blink {
  0% {
    background-color: #ffffcc;
  }
  50% {
    background-color: #ffe58a;
  }
  100% {
    background-color: transparent;
  }
}

.blink-row {
  animation: blink 0.6s ease;
}

.click {
  background-color: #ffe58a;
}
